In [2]:
# 1 import libraries 
import pandas as pd

In [3]:
# read the dataset
ratings = pd.read_csv(r"C:\Users\XPERT PRODUCTS\Documents\rating.csv")

In [4]:
ratings.shape

(1048575, 4)

In [8]:
ratings.head(3)

   userId  movieId  rating       timestamp
0       1        2     3.5  4/2/2005 23:53
1       1       29     3.5  4/2/2005 23:31
2       1       32     3.5  4/2/2005 23:33

In [5]:
movies = pd.read_csv(r"C:\Users\XPERT PRODUCTS\Downloads\AI LESSON\movie.csv")

In [6]:
movies.shape

(27278, 3)

In [7]:
movies.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [9]:
tags = pd.read_csv(r"C:\Users\XPERT PRODUCTS\Downloads\AI LESSON\tag.csv")

In [10]:
tags.shape

(465564, 4)

In [11]:
tags.head(3)

   userId  movieId          tag            timestamp
0      18     4141  Mark Waters  2009-04-24 18:19:40
1      65      208    dark hero  2013-05-10 01:41:18
2      65      353    dark hero  2013-05-10 01:41:19

In [13]:
del ratings['timestamp']
del tags['timestamp']

In [14]:
print(ratings.columns)
print(movies.columns)
print(tags.columns)

Index(['userId', 'movieId', 'rating'], dtype='object')
Index(['movieId', 'title', 'genres'], dtype='object')
Index(['userId', 'movieId', 'tag'], dtype='object')

In [18]:
# 3. Data structure
row_0 = tags.iloc[0] # iloc row location and it will give index

In [19]:
row_0.index

Index(['userId', 'movieId', 'tag'], dtype='object')

In [21]:
row_0['userId']

np.int64(18)

In [22]:
'rating' in row_0

False

In [23]:
row_0.name

0

In [24]:
row_0 = row_0.rename('firstRow')
row_0.name

'firstRow'