In [ ]:
print('datascience')
print('datascience')
print('datascience')
print('datascience')
print('datascience')

In [1]:
i = 1
while i <= 5:
    print('Data science')
    i = i+1

Data science
Data science
Data science
Data science
Data science

In [2]:
 i = 1
while i<= 5:
    print('Data Science :',i)
    i = i +1

Data Science : 1
Data Science : 2
Data Science : 3
Data Science : 4
Data Science : 5

In [3]:
i = 5
while i>=1:
    print('Data science :', i )
    i = i - 1

Data science : 5
Data science : 4
Data science : 3
Data science : 2
Data science : 1

In [7]:
i =  1
while i <= 5:
    print('Data science ')
    j = 1
    while j<= 4:
        print("Technology ")
        j = j+1
    i = i+1
    print()

Data science
Technology
Technology
Technology
Technology

Data science
Technology
Technology
Technology
Technology

Data science
Technology
Technology
Technology
Technology

Data science
Technology
Technology
Technology
Technology

Data science
Technology
Technology
Technology
Technology

# For Loops

In [8]:
name = 'Lemuel '
for i in name:
    print(i)

L
e
m
u
e
l

In [9]:
name1 = [1,2,3,4, 'hi']
for i in name1:
    print(i)

1
2
3
4
hi

In [10]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [11]:
# print the multiple of 5 in python.

In [16]:
for i in range(1,51):
    if i % 5 ==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [15]:
# in the for loop we have 3 important concept is break , continue and pass.

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(1,11):
    if i ==6:
        break
    print(i)

1
2
3
4
5

In [19]:
for i in range(1,11):
    if i ==6:
        continue 
    print(i)

1
2
3
4
5
7
8
9
10

In [20]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1116375593.py, line 2)

In [21]:
# how to bypass the errors in python.

In [22]:
for i in range(1,11):
    pass

In [23]:
for i in range(1,51):
    if i % 3 ==0:
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [39]:
for i in range(1,51):
   if i % 5 == 0 or i % 3 ==0 :
            continue
   print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
end

In [41]:
for i in range(1,5):
    i =i+1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [42]:
for i in range(1,6):
    if i <= 5:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #
# # # #

In [45]:
for i in range(6):
    for j in range(i-1):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *

In [46]:
for i in range(1,5):
    print(' # '* i)

 #
 #  #
 #  #  #
 #  #  #  #

In [49]:
for i in range(5, 0 ,-1):
    print(' * ' *i)

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [51]:
for i in range(6):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [52]:
for i in range(1,6):
    print(''*(5-i)+' * '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i)+' * '*(2*i-1))

 *
 *  *  *
 *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *
 *  *  *
 *

In [56]:
for i in range(5):
    for j in range(5):
        if i==0 or i==4 or j==0  or j==4:
            print('*',end = '')
        else:
            print(' ',end='')
    print()

*****
*   *
*   *
*   *
*****

In [57]:
for i in range(1,6):
    print(' '.join(str(x) for x in range(1,i+ 1)) )

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
for i in range(5,0 ,-1):
    print(' '.join(str(x) for x in range(1,i + 1)))

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [60]:
# Floyed's Triangle 
num = 1
for i in range(1,6):
    for j in range(1,i+1):
        print(num , end= ' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [64]:
# Hallow Right Angle Triangle
for i in range(1,6):
    for j in range(5-i):
        print(' ', end = ' ')
    for j in range(2* i - 1):
        if j==0 or j==2* i-2  or i ==5:
            print('*', end = ' ')
        else:
            print(' ', end = ' ')
    print()

        *
      *   *
    *       *
  *           *
* * * * * * * * *

In [65]:
nums = [12,15,3,4,8,5]
for num in nums:
    if num % 5 ==0:
        print(num)

15
5

In [71]:
nums = [12,3,4,8,7]
for num in nums:
    if num % 5 ==0:
        print(num)
        break

In [73]:
nums = [12,3,4,8,7]
for num in nums:
    if num % 5 ==0:
        print(num)
        break
else:
    print('Number is not found')

Number is not found